<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zomato Rating</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
<img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"></img>

 <div class="login">
	<h1>Predict Zomato Restaurant Ratings</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Online Order" placeholder="Order Online" required="required" />

        <input type="text" name="Book Table" placeholder="Book Table" required="required" />
		<input type="text" name="Votes" placeholder="Votes" required="required" />
        <input type="text" name="Location" placeholder="Location" required="required" />
        <input type="text" name="Restaurant Type" placeholder="Restaurant Type" required="required" />
        <input type="text" name="Cuisines" placeholder="Cuisines" required="required" />
        <input type="text" name="Cost" placeholder="Cost" required="required" />
        <input type="text" name="Menu Item" placeholder="Menu Item" required="required" />

       <button type="submit" class="btn btn-danger btn-lg" style="display: block; margin: 0 auto; width: 100%">Predict</button>
    </form>

   <br>
    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}

      <!-- Reset button form -->
    <form action="/" method="get">
      <button type="submit" class="btn btn-danger btn-lg" style="display: block; margin: 0 auto; width: 100%">Reset</button>
    </form>
 </div>



</body>
</html>